@keyframes clignementPaupiereInf {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 60%;}
	100% {height : 30%;}
}

#masquePaupiereInfGauche{

	/*Transition*/
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	

}

#masquePaupiereInfDroit{

	/*Transition*/
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;

}

@keyframes clignementPaupiereSup {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 35%;}
	100% {height : 30%;}
}


#masquePaupiereSupGauche{

	transition-property: top;
    transition-duration: 2s;
    transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#masquePaupiereSupDroit{
	
	transition-property: top;
    transition-duration: 2s;
    transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;

}

#pupilleGauche{
	position : fixed;
	top: 30%;
	left : 10%;
}


#pupilleDroit{
	position : fixed;
	top: 30%;
	right : 10%;
	
}






