@keyframes clignementPaupiereInf {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 60%;}
	100% {height : 30%;}
}

#masquePaupiereInfGauche{
	/*Transition*/
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;


}

#masquePaupiereInfDroit{

	/*Transition*/
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

    -moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
}

@keyframes clignementPaupiereSup {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 60%;}
	100% {height : 30%;}
}

#masquePaupiereSupGauche{

	/*Transition*/
	-moz-transition-property: top, left;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

    -moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
}

#masquePaupiereSupDroit{

	/*Transition*/
	-moz-transition-property: top, right;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
}


@keyframes mouvementPupilleGauche {
	0% {left : 10%;}
    70%{left : 10%;}
	75% {left: 8%;}
	80%{left: 12%;}
	85%{left : 10%;}
	100% {left : 10%;}
}

@keyframes roulementOeilGauche {

	0% {left : 10%; top : 30%; }
	25% {left : 0%; top : 20%; }
	75% {left : 20%; top : 20%; }
	100% {left : 10%; top : 30%; }

}


#pupilleGauche{

	-moz-transition-property: top;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 1s;

	-moz-animation-name: roulementOeilGauche;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

@keyframes mouvementPupilleDroite {
	0% {right : 10%;}
    70%{right : 10%;}
	75% {right: 12%;}
	80%{right: 8%;}
	85%{right : 10%;}
	100% {right : 10%;}
}

@keyframes roulementOeilDroit {

	0% {right : 10%; top : 30%; }
	25% {right : 20%; top : 20%; }
	75% {right : 0%; top : 20%; }
	100% {right : 10%; top : 30%; }

}


#pupilleDroit{

	-moz-transition-property: top;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 1s;

	-moz-animation-name: roulementOeilDroit;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	
}





