@keyframes clignementPaupiereInf {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 60%;}
	100% {height : 30%;}
}

#masquePaupiereInfGauche{

	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;

}

#masquePaupiereInfDroit{
	
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;

}

@keyframes clignementPaupiereSup {
	0% {height : 30%;}
    80%{height : 30%;}
	90% {height : 40%;}
	100% {height : 30%;}
}


#masquePaupiereSupGauche{

	/*Transition*/
	-moz-transition-property: top, left;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#masquePaupiereSupDroit{

	/*Transition*/
	-moz-transition-property: top, left;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}


@keyframes mouvementPupilleGauche {
	0% {left : 10%;}
    70%{left : 10%;}
	75% {left: 8%;}
	80%{left: 12%;}
	85%{left : 10%;}
	100% {left : 10%;}
}

#pupilleGauche{

	-moz-transition-property: transform, top, left;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 1s;

	-moz-animation-name: mouvementPupilleGauche;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

@keyframes mouvementPupilleDroite {
	0% {right : 10%;}
    70%{right : 10%;}
	75% {right: 12%;}
	80%{right: 8%;}
	85%{right : 10%;}
	100% {right : 10%;}
}

#pupilleDroit{

	-moz-transition-property: transform, top, right;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 1s;

	-moz-animation-name: mouvementPupilleDroite;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	
}



